# Motivation
* Some words occur very commonly across all documents
* Corpus of documents on the universe
    * One document has jupiter and universe occurring 20 times each.
    * jupiter rarely occurs in the other documents. universe is common.
    * Give more weight to jupiter on account of exclusivity.

# Applications
* Automatically detect stopwords
* Search algorithms to determine the ranking of pages
* Recommender systems
* Better performance in predicted modeling for some cases

# Term frequency-inverse document frequency
> The weight of a term in a document is proportional to term frequency and an inverse function of the number of documents in which it occurs

## Mathematical formula

$$w_{i,j} = tf_{i,j} \times \log{\left(\frac{N}{df_i}\right)}$$

## tf-idf using scikit-learn

In [1]:
import pandas as pd
corpus = pd.Series(
    [
        "The lion is the king of the jungle",
        "Lions have lifespans of a decade",
        "The lion is an endangered species",
    ]
)

In [2]:
# Import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [3]:
vectorizer = CountVectorizer()
count_matrix = vectorizer.fit_transform(corpus)
pd.DataFrame(count_matrix.toarray(), columns=vectorizer.get_feature_names_out())

,an,decade,endangered,have,is,jungle,king,lifespans,lion,lions,of,species,the
0,0,0,0,0,1,1,1,0,1,0,1,0,3
1,0,1,0,1,0,0,0,1,0,1,1,0,0
2,1,0,1,0,1,0,0,0,1,0,0,1,1

In [4]:
# Create TfidfVectorizer object
vectorizer = TfidfVectorizer()
# Generate matrix of word vectors
tfidf_matrix = vectorizer.fit_transform(corpus)
pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())

,an,decade,endangered,have,is,jungle,king,lifespans,lion,lions,of,species,the
0,0.000000,0.000000,0.000000,0.000000,0.254347,0.334435,0.334435,0.000000,0.254347,0.000000,0.254347,0.000000,0.763040
1,0.000000,0.467351,0.000000,0.467351,0.000000,0.000000,0.000000,0.467351,0.000000,0.467351,0.355432,0.000000,0.000000
2,0.459548,0.000000,0.459548,0.000000,0.349498,0.000000,0.000000,0.000000,0.349498,0.000000,0.000000,0.459548,0.349498

## tf-idf weight of a word ocurring in all documents

The word bottle occurs 5 times in a particular document D and also occurs in every document of the corpus. What is the tf-idf weight of bottle in D?

$$w_{i,j} = tf_{i,j} \times \log{\left(\frac{N}{df_i}\right)}$$

In [5]:
import numpy as np
5 * np.log(1)

0.0

> This is because the inverse document frequency is constant across documents in a corpus and since bottle occurs in every document, its value is log(1), which is 0.

## tf-idf vectors for TED talks

In [6]:
ted = pd.read_csv('ted.csv')

In [7]:
ted

,transcript,url
0,"We're going to talk — my — a new lecture, just...",https://www.ted.com/talks/al_seckel_says_our_b...
1,"This is a representation of your brain, and yo...",https://www.ted.com/talks/aaron_o_connell_maki...
2,It's a great honor today to share with you The...,https://www.ted.com/talks/carter_emmart_demos_...
3,"My passions are music, technology and making t...",https://www.ted.com/talks/jared_ficklin_new_wa...
4,It used to be that if you wanted to get a comp...,https://www.ted.com/talks/jeremy_howard_the_wo...
...,...,...
495,Today I'm going to unpack for you three exampl...,https://www.ted.com/talks/john_hodgman_design_...
496,Both myself and my brother belong to the under...,https://www.ted.com/talks/sheikha_al_mayassa_g...
497,John Hockenberry: It's great to be here with y...,https://www.ted.com/talks/tom_shannon_the_pain...
498,"What you're doing, right now, at this very mom...",https://www.ted.com/talks/nilofer_merchant_got...
499,We've got a real problem with math education r...,https://www.ted.com/talks/conrad_wolfram_teach...

In [8]:
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(ted['transcript'])
pd.DataFrame(tfidf_matrix.A, columns=vectorizer.get_feature_names_out())

,00,000,000001,00001,000042,0001,000th,001,01,024,...,zywiec,ºf,čapek,ʾan,ʾilla,ʾilāha,อย,อยman,อร,送你葱
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.012900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
496,0.0,0.008076,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
497,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
498,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Cosine similarity

We now know how to compute vectors out of text documents. With this representation in mind, let us now explore techniques that will allow us to determine how similar two vectors and consequentially two documents, are to each other. More specifically, we will learn about the cosine similarity score which is one of the most popularly used similarity metrics in NLP.

## Mathematical formula

Very simply put, the cosine similarity score of two vectors is the cosine of the angle between the vectors. Mathematically, it is the ratio of the dot product of the vectors and the product of the magnitude of the two vectors. Let's walk through what this formula really means.

$$ similarity(\vec{A},\vec{B}) = \cos{(\theta)} = \frac{\vec{A} \cdot \vec{B}}{||\vec{A}|| \times ||\vec{B}||}$$

## The dot product

Consider two vectors,
$$\vec{V} = (v_1 , v_2 , ⋯ , v_n ), \vec{W} = (w_1 , w_2 , ⋯ , w_n)$$

Then the dot product of V and W is,
$$\vec{V} \cdot \vec{W} = (v_1 \times w_1 ) + (v_2 \times w_2 ) + ⋯ + (v \times w )$$

Example:

$$\vec{A} = (4, 7, 1), \vec{B} = (5, 2, 3)$$
$$\vec{A} \cdot \vec{B} = (4 \times 5) + (7 \times 2) + ⋯ (1 \times 3)$$
$$ = 20 + 14 + 3 = 37$$

In [9]:
np.dot(A:=np.array([4,7,1]), B:=np.array([5,2,3]))

37

## Magnitude of a vector

For any vector,
$$\vec{V} = (v_1 , v_2 , ⋯ , v_n)$$
The magnitude is defined as,
$$||\vec{V}|| = \sqrt{(v_1^2 , v_2^2 , ⋯ , v_n^2)}$$
Example:
$$\vec{A} = (4,7,1), \vec{B} = (5,2,3)$$
$$||\vec{A}|| = \sqrt{(4)^2 + (7)^2 + (1)^2} = \sqrt{16+49+1} = \sqrt{66}$$

In [10]:
np.linalg.norm(A)

8.12403840463596

$$||\vec{B}|| = \sqrt{(5)^2 + (2)^2 + (3)^2} = \sqrt{25+4+9} = \sqrt{38}$$

In [11]:
np.linalg.norm(B)

6.164414002968976

## The cosine score

$$\cos{(\theta)} = cos(\vec{A},\vec{B}) = \frac{\vec{A} \cdot \vec{B}}{||\vec{A}|| \times ||\vec{B}||} = \frac{37}{\sqrt{66}\times\sqrt{38}} \sim 0.7388$$

In [12]:
np.dot(A, B) / (np.linalg.norm(A) * np.linalg.norm(B))

0.7388188340435563

## Cosine Score: points to remember
* Value between -1 and 1.
* In NLP, value between 0 and 1 because term frequencies are positive.
* Robust to document length: since the cosine score ignores the magnitude of the vectors, it is fairly robust to document length. This may be an advantage or a disadvantage depending on the use case.

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity([A],[B])[0]

array([0.73881883])

## Cosine similarity matrix of a corpus

Compute the cosine similarity matrix which contains the pairwise cosine similarity score for every pair of sentences (vectorized using tf-idf).

In [14]:
corpus = ['The sun is the largest celestial body in the solar system', 'The solar system consists of the sun and eight revolving planets', 'Ra was the Egyptian Sun God', 'The Pyramids were the pinnacle of Egyptian architecture', 'The quick brown fox jumps over the lazy dog']
corpus

['The sun is the largest celestial body in the solar system',
 'The solar system consists of the sun and eight revolving planets',
 'Ra was the Egyptian Sun God',
 'The Pyramids were the pinnacle of Egyptian architecture',
 'The quick brown fox jumps over the lazy dog']

In [15]:
# Initialize an instance of tf-idf Vectorizer
tfidf_vectorizer = TfidfVectorizer()

# Generate the tf-idf vectors for the corpus
tfidf_matrix = tfidf_vectorizer.fit_transform(corpus)
pd.DataFrame(tfidf_matrix.A, columns=tfidf_vectorizer.get_feature_names_out())

,and,architecture,body,brown,celestial,consists,dog,egyptian,eight,fox,...,pyramids,quick,ra,revolving,solar,sun,system,the,was,were
0,0.000000,0.000000,0.337218,0.000000,0.337218,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.272065,0.225839,0.272065,0.482058,0.000000,0.000000
1,0.346907,0.000000,0.000000,0.000000,0.000000,0.346907,0.000000,0.000000,0.346907,0.000000,...,0.000000,0.000000,0.000000,0.346907,0.279882,0.232328,0.279882,0.330606,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.387878,0.000000,0.000000,...,0.000000,0.000000,0.480764,0.000000,0.000000,0.321974,0.000000,0.229087,0.480764,0.000000
3,0.000000,0.401284,0.000000,0.000000,0.000000,0.000000,0.000000,0.323754,0.000000,0.000000,...,0.401284,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.382428,0.000000,0.401284
4,0.000000,0.000000,0.000000,0.355599,0.000000,0.000000,0.355599,0.000000,0.000000,0.355599,...,0.000000,0.355599,0.000000,0.000000,0.000000,0.000000,0.000000,0.338890,0.000000,0.000000

In [16]:
# Compute cosine similarity matrix
cosine_sim = cosine_similarity(tfidf_matrix)
cosine_sim

array([[1.        , 0.36413198, 0.18314713, 0.18435251, 0.16336438],
       [0.36413198, 1.        , 0.15054075, 0.21704584, 0.11203887],
       [0.18314713, 0.15054075, 1.        , 0.21318602, 0.07763512],
       [0.18435251, 0.21704584, 0.21318602, 1.        , 0.12960089],
       [0.16336438, 0.11203887, 0.07763512, 0.12960089, 1.        ]])

> The cosine similarity matrix lies at the heart of many practical systems such as recommenders. From our similarity matrix, we see that the first and the second sentence are the most similar. Also the fifth sentence has, on average, the lowest pairwise cosine scores. This is intuitive as it contains entities that are not present in the other sentences.

# Building a plot line based recommender

In [17]:
import numpy as np
import pandas as pd
movies = pd.read_csv('movie_overviews.csv')
movies

,id,title,overview,tagline
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",NaN
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...
...,...,...,...,...
9094,159550,The Last Brickmaker in America,A man must cope with the loss of his wife and ...,NaN
9095,392572,Rustom,"Rustom Pavri, an honourable officer of the Ind...",Decorated Officer. Devoted Family Man. Defendi...
9096,402672,Mohenjo Daro,"Village lad Sarman is drawn to big, bad Mohenj...",NaN
9097,315011,Shin Godzilla,From the mind behind Evangelion comes a hit la...,A god incarnate. A city doomed.
9098,391698,The Beatles: Eight Days a Week - The Touring Y...,"The band stormed Europe in 1963, and, in 1964,...",The band you know. The story you don't.

## Steps
1. Text preprocessing
2. Generate tf-idf vectors
3. Generate cosine similarity matrix

## The recommender function
1. Take a movie title, cosine similarity matrix and indices series as arguments.
2. Extract pairwise cosine similarity scores for the movie.
3. Sort the scores in descending order.
4. Output titles corresponding to the highest scores.
5. Ignore the highest similarity score (of 1).

## Generating tf-idf vectors

In [18]:
# Import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
# Create TfidfVectorizer object
vectorizer = TfidfVectorizer()
# Generate matrix of tf-idf vectors
tfidf_matrix = vectorizer.fit_transform(movies['overview'].fillna(''))
# pd.DataFrame(tfidf_matrix.A, columns=vectorizer.get_feature_names_out())
tfidf_matrix.shape

(9099, 30020)

## Generating cosine similarity matrix

In [19]:
# Import cosine_similarity
from sklearn.metrics.pairwise import cosine_similarity
# Generate cosine similarity matrix

In [20]:
cosine_sim1 = cosine_similarity(tfidf_matrix, tfidf_matrix, dense_output=False)

In [21]:
print(f'Mean similarity: {cosine_sim1.mean()}')

Mean similarity: 0.031205929594335755

## The `linear_kernel` function

* Magnitude of a tf-idf vector is always 1

In [22]:
# Checking whether the magnitude of a tf-idf vector is 1
magnitude = np.apply_along_axis(func1d=np.linalg.norm, axis=1, arr=tfidf_matrix.A).mean()
magnitude

0.9985712715683042

* Since the magnitude is 1, the cosine score of two tf-idf vectors is equal to their dot product!
$$ \cos{(\theta)} = \frac{\vec{A} \cdot \vec{B}}{||\vec{A}|| \times ||\vec{B}||} = \frac{\vec{A} \cdot \vec{B}}{1 \times 1} = \vec{A} \cdot \vec{B}$$
* Cosine similarity, or the cosine kernel, computes similarity as the normalized dot product of X and Y
    * On L2-normalized data, this function is equivalent to `linear_kernel`.
* Can significantly improve computation time.
* Use `linear_kernel` instead of `cosine_similarity`.

In [23]:
# Checking whether cosine_similarity() is like matmul (@)
cosine_sim2 = tfidf_matrix @ tfidf_matrix.T

In [24]:
cosine_sim1.mean() == cosine_sim2.mean()

True

In [25]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel
# Generate cosine similarity matrix

In [26]:
cosine_sim3 = linear_kernel(tfidf_matrix, tfidf_matrix, dense_output=False)

In [27]:
cosine_sim2.mean() == cosine_sim3.mean()

True

## Plot recommendation engine

In [28]:
import pandas as pd
movies = pd.read_csv('movie_overviews.csv')

In [29]:
# indices
indices = movies.reset_index(drop=False).set_index('title')['index']

In [30]:
# Initialize the TfidfVectorizer 
tfidf_matrix = TfidfVectorizer(stop_words='english').fit_transform(movies['overview'].fillna(''))

In [31]:
# cosine simililarity
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [32]:
def get_recommendations(title, cosine_sim, indices):
    # Get the index of the movie that matches the title
    idx = indices[title]
    # Get the pairwsie similarity scores
    sim_scores = list(enumerate(cosine_sim[idx]))
    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # Get the scores for 10 most similar movies
    sim_scores = sim_scores[1:11]
    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    # Return the top 10 most similar movies
    return movies['title'].iloc[movie_indices]

In [33]:
get_recommendations(title='The Dark Knight Rises',
                    cosine_sim=cosine_sim,
                    indices=indices)

132                              Batman Forever
6907                            The Dark Knight
1116                             Batman Returns
7573                 Batman: Under the Red Hood
524                                      Batman
7907                           Batman: Year One
8171    Batman: The Dark Knight Returns, Part 1
2581               Batman: Mask of the Phantasm
8232    Batman: The Dark Knight Returns, Part 2
6150                              Batman Begins
Name: title, dtype: object

# Beyond n-grams: word embeddings

## Word embeddings
* Mapping words into an n-dimensional vector space
* Produced using deep learning and huge amounts of data
* Discern how similar two words are to each other
* Used to detect synonyms and antonyms
* Captures complex relationships
    * King - Queen → Man - Woman
    * France - Paris → Russia - Moscow
* Dependent on pre-trained spacy model; independent of dataset you use

In [38]:
import spacy
# Load model and create Doc object
spacy.require_gpu()

True

In [39]:
nlp = spacy.load('en_core_web_lg')
doc = nlp('I am happy')
# Generate word vectors for each token
for token in doc:
    print(token.vector)

[ -1.8607     0.15804   -4.1425    -8.6359   -16.955      1.157
  -1.588      5.6609   -12.03      16.417      4.1907     5.5122
  -0.11932   -6.06       3.8957    -7.8212     3.6736   -14.824
  -7.6638     2.5344     7.9893     3.6785     4.3296   -11.338
  -3.5506    -5.899      1.0998     3.4515    -5.4191     1.8356
  -2.902     -7.9294    -1.1269     8.4124     5.1416    -3.1489
  -4.2061    -1.459      7.8313     0.27859   -4.3832     8.0756
  -0.94784   -6.1214     8.2792     5.0529    -8.3611    -6.0743
  -0.53773    2.7538     3.8162    -4.1612     0.7591    -2.8374
  -6.4851    -3.3435     3.2703     2.759      2.6645     4.0013
  13.381     -5.2907    -3.133      4.5374   -11.899     -6.716
  -0.041939  -2.0879     3.0101    10.3        2.6835     2.7265
   8.3018    -4.4563    14.43       3.9642    -4.8287    -5.648
  -7.2597   -11.475     -2.6171     0.3325    14.454     -5.155
   0.93722   -2.6187    -1.783      3.8711     1.4681    -6.705
  -4.0953    -0.22536    9.444    -10.305     -0.13202   -2.5534
   0.36113   -8.539      2.6755    -2.5872     2.8679     9.7515
  -2.1221     0.82061  -10.319      1.1547    -6.5808     4.9236
  -5.0744    -1.4781    -4.9195    -8.3767     9.5575    -3.685
   2.1198    -0.17453    2.0831    -3.9546     1.0606     2.7273
  -3.8842    -1.3651    -9.3881     8.7217     0.36486    6.9968
   5.9808    -1.9575    -4.9097     0.17648    0.82424    3.5459
   0.63201   -5.3636     0.18387    5.3658    -7.0217    -6.1577
  12.318     -9.2032    -3.8502    -2.3115     3.8475     1.1169
 -19.406      1.3987     4.8752    -1.3337   -10.459    -10.679
  -8.125      1.8708    -8.5214    -5.3364    -1.5602     1.5305
   7.3319     1.4623    -4.2276     3.925     -3.6453    -8.9947
  -9.9602     4.5267    -2.8874     3.9509     0.33015   -0.69045
  -8.5682     5.6035     4.4303    -0.12195   -9.1766     7.1214
  11.119    -13.376    -11.446     -4.6233     2.5693     1.0571
  -3.7533     2.1846    11.634     -0.71756   -3.1931     9.6407
  -0.97389   -9.5713     7.6816     6.216     -3.557      8.6693
  -9.1699     6.9589    -3.7244    -1.4941   -11.266      3.6515
  -6.93      13.741     -5.546      1.3314    -3.5116     4.2548
  -4.1717     0.6486    13.1       -5.2464    -2.2528    -4.0023
   0.80613    0.41242    5.1636     6.016    -11.018      2.5725
  -5.4786     3.9834     1.7688     1.0016    -6.0102     0.75538
  -3.0043     5.4985     5.7801    -7.1877    -0.80729    3.1282
   0.39466    2.0783   -17.384     -7.25       3.3675    -2.8671
  -4.7587     2.5144    -8.2825    13.736     -0.033851  -6.3096
 -17.447     -2.4643     5.0504     0.05487    8.3954    -7.3362
   6.2495    -0.50043   13.246      4.4032    -5.1087     8.4952
 -11.692      1.8684    -4.0402    -7.5522    -3.1862     1.7126
  -8.6044     7.4476     9.7846     4.0875     6.8338     7.4497
   6.187     -5.592      4.6493     0.78633  -10.055      5.5839
  -5.2267    -3.3644   -14.551      2.5234    -4.6496    -5.5413
  -0.79268   -9.7865     2.4501    -0.26537  -15.947    -10.645
   3.9164     1.9886     9.6709    -1.5746     1.333      1.628
  -3.5716     2.7336     9.7687     1.9344     4.3976    -2.1922
  -4.7053     0.61891    8.0963     7.9379   -11.57       4.3334  ]
[ 8.3869e+00 -7.2075e+00  2.3706e+00 -1.1738e+01 -1.1974e+01  5.3761e+00
 -9.9660e+00  1.1431e+01 -7.5086e+00  8.4296e+00  3.4408e+00 -2.6037e-01
  5.6193e+00 -2.2490e+00  6.6699e+00  6.7404e+00  5.9742e-01 -9.2806e+00
  2.3533e+00  5.2523e+00  6.0303e+00  1.0061e+01 -1.4558e+01 -2.4992e+00
 -2.2138e+00  1.3396e+00 -5.9991e-01  8.9889e-01  1.6407e+00 -1.2971e+01
 -6.4929e+00  7.1568e+00 -1.2418e+01 -3.1108e+00 -7.1099e+00  1.5284e+01
  5.5889e+00 -1.7614e+00  1.7298e+01  1.1384e+01 -4.3353e+00  1.0056e+01
  1.9498e-01 -9.9001e+00 -3.9718e+00 -4.4642e-01  9.8552e+00 -9.5914e-01
 -3.8020e+00 -5.0123e+00  1.2988e+01  2.6711e+00  7.9438e+00 -6.2004e+00
 -1.8386e+00  1.5090e+00  8.7065e+00 -2.7585e+00 -1.3565e+00  7.5341e+00
  1.3944e+01  2.4971e+00 -2.6668e+00  2.3929e+00 -1.4486e+01  2.4427e+00
  2.8312e+00  4.4812e+00  1.3152e+01  2.7047e+00 -2.0325e+00  1.1106e+00
  1.1329e+01 -8.3772e+00  4.3435e+00 -1.0533e+01  2.4561e+00  1.8225e+00
 -4.8650e-01 -4.9198e+00  2.0593e+00 -1.0526e+01  3.6286e+00 -7.8267e+00
 -4.7401e+00 -3.3364e+00  7.6566e-01 -1.6490e+00  1.9645e+00 -1.0348e+01
  4.0577e+00 -9.5178e+00  1.8217e+00 -8.6321e+00 -2.2617e+00  8.2407e+00
 -4.2805e+00 -1.2635e+01  1.5002e+00 -1.5028e+01 -1.2967e+00  8.8444e-01
 -1.0508e+01 -1.1794e+01 -5.9872e+00 -2.0147e+00 -4.5813e+00  3.1173e+00
 -4.9756e+00  8.7460e+00 -7.2064e+00 -2.1144e+01 -1.3713e+00 -6.6397e+00
 -1.3918e+00  5.3078e-02 -1.0120e+01 -3.5015e+00 -2.7846e-01  1.4919e+00
 -6.5164e+00  2.8868e+00 -3.9307e+00  1.4120e+01 -6.2467e-01 -3.1941e+00
  4.0083e+00 -9.5383e-01 -1.0618e+01  4.2574e+00  1.0457e+00  4.0531e+00
 -1.2411e+01 -7.6482e+00 -1.2130e+01  5.5020e+00 -5.5855e+00  8.9720e+00
  9.3427e+00  1.0879e+01  4.1582e+00 -2.5860e+00  1.9443e+00 -8.7265e+00
 -2.7634e+00  1.8921e+00 -3.7815e+00 -9.2013e+00 -1.4649e+01  7.6314e+00
  7.4582e-01 -8.8893e+00  1.5500e+00 -2.6028e+00  1.1060e+01  3.0140e+00
 -3.4123e+00 -1.8096e+00  5.6680e+00 -7.2724e+00 -6.3229e+00 -1.1769e+01
 -3.9264e+00 -8.9803e+00  6.3989e+00 -1.2253e+00  2.4864e+00  6.8135e+00
 -7.0184e+00 -1.3726e+01  9.7312e+00 -7.3405e+00 -9.2453e+00  5.7757e+00
  4.3007e+00 -8.0123e+00  3.0860e+00  8.0444e+00  1.4223e-01  6.2707e+00
  6.8613e+00 -8.8526e+00  1.1775e+01  1.0861e+00  6.3906e+00  1.1675e+01
 -1.3301e+00 -6.7024e+00  5.3385e+00  1.4182e+01 -1.2517e+01 -1.8817e+00
 -1.8420e+00  3.0100e+00  6.0498e+00  1.9003e+00 -3.2307e+00  1.8404e+01
  2.0600e+00  9.1670e+00 -1.1971e+00 -9.3937e-01 -1.0348e+01 -9.1562e-01
 -1.1602e+01 -1.6915e+00  8.5983e+00 -2.1288e+00 -6.2938e+00  3.7402e+00
  7.5835e+00  3.1627e+00  1.1238e-01  3.6468e+00 -1.0811e+01 -1.2922e+01
  7.6225e-02  5.5020e+00  7.4424e+00  4.9263e+00 -3.8132e+00 -3.0775e+00
  8.9782e+00 -1.2392e+00  1.8193e+01  7.8366e+00 -3.9842e+00 -1.0240e+01
 -5.4788e+00  7.5782e-01 -3.6894e+00 -1.4040e+00  7.6965e+00 -4.9921e+00
 -1.0762e+01  3.4511e+00  8.3834e+00 -1.4089e+01  5.9996e+00 -5.4175e+00
  3.2911e+00  4.1133e-01 -3.1855e-01 -1.0471e+01 -7.4132e+00 -1.2667e+01
 -3.9429e+00  6.4862e-01  1.6643e+01  5.2537e+00 -1.5739e+00  1.2384e+01
 -3.2884e+00  6.6548e+00 -1.5164e+00  7.2858e+00 -7.1104e+00  1.9264e+01
 -4.0647e+00  1.4088e+01  1.5324e+00  8.0043e+00 -8.2516e-02  1.2144e+01
  4.7768e+00 -2.3385e-03  6.2556e+00  5.3055e+00 -8.4901e+00  1.2877e+01
  2.4654e-01 -7.6876e+00 -3.0579e-01 -7.9235e+00 -1.0720e+00  8.6324e+00
 -2.9564e+00 -9.3927e+00  5.2550e+00 -8.9600e-01 -1.1907e+00  6.1608e+00
 -9.1574e+00 -1.9537e+00  3.9863e+00 -2.0028e+00  1.3954e+01  5.8352e+00
 -6.9264e+00  5.7303e+00  9.9175e+00 -4.5458e+00 -1.4370e+00 -1.5490e+01
 -1.2893e+00 -9.9277e+00  4.2732e+00  6.3726e+00 -1.0262e+01  1.3245e+01]
[ 1.0727    0.91195  -4.1039   -5.9668    1.1263   -0.83625   6.5321
  2.9779   -1.4953    1.6501    4.1008   -0.4266   -4.7607    0.36301
  4.2993   -3.6101   -1.889    -4.1127   -1.3471   -0.89894   0.097736
  0.15628   1.4744   -1.5274    2.5652    0.087846 -4.1222    5.9653
  2.4877    3.5936    1.601    -4.1639   -3.1682   -2.8031    5.6053
  0.14115  -0.25719  -3.6074    4.2861    1.382    -0.94911   5.7315
  2.5586   -3.0848   -1.4495    3.7087   -0.53288  -2.3908    1.2943
  2.3577    3.9595   -3.0808    1.5959   -2.2442   -0.62637  -2.9861
 -2.2205   -1.1305    1.3804    2.5867    2.763     0.50591   3.0677
 -0.61219   0.64739  -2.359    -2.011    -2.8984    1.6451   -2.4643
  1.6514    0.20814  -2.4877   -2.2363    0.96361  -0.96412  -1.3239
  1.0742   -0.27852  -2.4566    1.7298   -3.3927    2.1089    0.90448
 -1.5328    0.86462   3.5339    1.1258   -3.2568   -1.3779   -0.68623
  3.9564   -3.4808   -5.2019    1.4987   -1.0585    2.728    -6.1352
  0.8505   -0.91237   1.8974    2.5978    0.39621   3.1309   -3.6546
  1.3873   -4.0891   -0.54836  -1.9152   -0.37005   0.2584   -3.3973
  1.5201   -6.2553   -1.0796    2.8594   -4.876    -8.2331    2.7122
  1.8854   -2.4079   -0.47123  -1.5291    3.0175    2.7858    2.3865
  1.8145   -2.0765    1.7502   -3.0525   -4.3591   -0.53213  -2.1454
 -2.5447   -0.438    -1.4258   -1.9157   -1.6171    5.8285    1.1991
 -2.8218    0.043204  3.5379    3.5541   -7.2266   -0.72617   0.56633
 -2.4348    0.39325   0.69029  -3.0725    1.5416    1.7953   -2.2407
  0.698     1.7164    7.15     -1.4165   -0.42141  -3.2721    1.4328
 -3.6265   -6.3823   -0.46848  -1.0379    1.0466    0.87008  -2.357
 -1.4904   -0.54497   3.3646    3.1787   -0.51058  -2.8319    2.9578
 -0.93904  -0.9987    3.5361    0.94907  -1.29      2.9977    3.2273
  4.1075   -1.5983    0.29348   2.4246    2.2037   -6.4413   -0.055544
  3.4999   -1.4565    6.8339   -3.3839   -1.9973   -0.93155  -2.3863
 -3.6192    1.5612   -2.911     1.8757   -1.0683   -0.40643  -4.1491
 -0.16276  -2.5662    3.2755    3.3367    2.7256    0.79124   1.0789
  3.8892    0.66009   1.1769    0.92851  -1.7587    3.8739   -0.074525
  2.6581   -1.9163    2.3657   -1.2286    0.87889  -3.2244    3.2322
  0.95236  -0.31974  -2.4018   -0.027426  3.7302    2.131    -5.8045
 -1.0454   -0.66586   0.29267  -1.5386    2.4998   -0.79626   5.2818
 -1.048     1.4811   -0.9604   -2.7624    0.57054  -3.2426    1.9664
 -1.1249   -0.73802  -1.5845    4.7569    2.9549    2.4597    2.3944
 -3.3849    2.4664    2.7727   -6.4496   -1.7051    0.095561 -1.6132
  1.5263    1.5727   -0.22175  -0.3177    0.37162   0.83749   0.078783
  0.026365  1.5217   -3.5558   -2.1386    0.43453  -1.5964   -1.0109
 -1.6598   -1.3195   -1.1033    3.2393   -2.1572    0.055977  0.89149
  0.60515  -4.3048   -4.0544   -0.75188   4.1462   -0.92559   3.5261
  2.5949   -3.5926   -1.9169    3.328    -2.2059   -0.78317  -4.6701
  0.19135  -1.6233   -1.7663    1.3902   -6.9965    1.204   ]

## Word similarities

In [50]:
doc = nlp("happy joyous sad")
for token1 in doc:
    for token2 in doc:
        print(token1.text, token2.text, token1.similarity(token2))

happy happy 1.0
happy joyous 0.38305556774139404
happy sad 0.5034751296043396
joyous happy 0.38305556774139404
joyous joyous 1.0
joyous sad 0.5143248438835144
sad happy 0.5034751296043396
sad joyous 0.5143248438835144
sad sad 1.0

## Document similarities

In [57]:
# Generate doc objects
sent1 = nlp("I am happy")
sent2 = nlp("I am sad")
sent3 = nlp("I am joyous")

In [58]:
# Compute similarity between sent1 and sent2
sent1.similarity(sent2)

0.9740256667137146

In [59]:
# Compute similarity between sent1 and sent3
sent1.similarity(sent3)

0.981972336769104

## Generating word vectors

In [60]:
# Create the doc object
sent = 'I like apples and oranges'
doc = nlp(sent)

# Compute pairwise similarity scores
for token1 in doc:
    for token2 in doc:
        print(token1.text, token2.text, token1.similarity(token2))

I I 1.0
I like 0.3184410333633423
I apples 0.1975560337305069
I and -0.0979199931025505
I oranges 0.05048731341958046
like I 0.3184410333633423
like like 1.0
like apples 0.29574334621429443
like and 0.2435961216688156
like oranges 0.2706858813762665
apples I 0.1975560337305069
apples like 0.29574334621429443
apples apples 1.0
apples and 0.24472729861736298
apples oranges 0.7808240652084351
and I -0.0979199931025505
and like 0.2435961216688156
and apples 0.24472729861736298
and and 1.0
and oranges 0.3738572895526886
oranges I 0.05048731341958046
oranges like 0.2706858813762665
oranges apples 0.7808240652084351
oranges and 0.3738572895526886
oranges oranges 1.0

> Notice how the words 'apples' and 'oranges' have the highest pairwaise similarity score. This is expected as they are both fruits and are more related to each other than any other pair of words.

## Computing similarity of Pink Floyd songs

In [62]:
hopes = "\nBeyond the horizon of the place we lived when we were young\nIn a world of magnets and miracles\nOur thoughts strayed constantly and without boundary\nThe ringing of the division bell had begun\nAlong the Long Road and on down the Causeway\nDo they still meet there by the Cut\nThere was a ragged band that followed in our footsteps\nRunning before times took our dreams away\nLeaving the myriad small creatures trying to tie us to the ground\nTo a life consumed by slow decay\nThe grass was greener\nThe light was brighter\nWhen friends surrounded\nThe nights of wonder\nLooking beyond the embers of bridges glowing behind us\nTo a glimpse of how green it was on the other side\nSteps taken forwards but sleepwalking back again\nDragged by the force of some in a tide\nAt a higher altitude with flag unfurled\nWe reached the dizzy heights of that dreamed of world\nEncumbered forever by desire and ambition\nThere's a hunger still unsatisfied\nOur weary eyes still stray to the horizon\nThough down this road we've been so many times\nThe grass was greener\nThe light was brighter\nThe taste was sweeter\nThe nights of wonder\nWith friends surrounded\nThe dawn mist glowing\nThe water flowing\nThe endless river\nForever and ever\n"
mother = "\nMother do you think they'll drop the bomb?\nMother do you think they'll like this song?\nMother do you think they'll try to break my balls?\nOoh, ah\nMother should I build the wall?\nMother should I run for President?\nMother should I trust the government?\nMother will they put me in the firing mine?\nOoh ah,\nIs it just a waste of time?\nHush now baby, baby, don't you cry.\nMama's gonna make all your nightmares come true.\nMama's gonna put all her fears into you.\nMama's gonna keep you right here under her wing.\nShe won't let you fly, but she might let you sing.\nMama's gonna keep baby cozy and warm.\nOoh baby, ooh baby, ooh baby,\nOf course mama's gonna help build the wall.\nMother do you think she's good enough, for me?\nMother do you think she's dangerous, to me?\nMother will she tear your little boy apart?\nOoh ah,\nMother will she break my heart?\nHush now baby, baby don't you cry.\nMama's gonna check out all your girlfriends for you.\nMama won't let anyone dirty get through.\nMama's gonna wait up until you get in.\nMama will always find out where you've been.\nMama's gonna keep baby healthy and clean.\nOoh baby, ooh baby, ooh baby,\nYou'll always be baby to me.\nMother, did it need to be so high?\n"
hey = "\nHey you, out there in the cold\nGetting lonely, getting old\nCan you feel me?\nHey you, standing in the aisles\nWith itchy feet and fading smiles\nCan you feel me?\nHey you, don't help them to bury the light\nDon't give in without a fight\nHey you out there on your own\nSitting naked by the phone\nWould you touch me?\nHey you with you ear against the wall\nWaiting for someone to call out\nWould you touch me?\nHey you, would you help me to carry the stone?\nOpen your heart, I'm coming home\nBut it was only fantasy\nThe wall was too high\nAs you can see\nNo matter how he tried\nHe could not break free\nAnd the worms ate into his brain\nHey you, out there on the road\nAlways doing what you're told\nCan you help me?\nHey you, out there beyond the wall\nBreaking bottles in the hall\nCan you help me?\nHey you, don't tell me there's no hope at all\nTogether we stand, divided we fall\n"

In [63]:
# Create Doc objects
mother_doc = nlp(mother)
hopes_doc = nlp(hopes)
hey_doc = nlp(hey)

# Print similarity between mother and hopes
print(mother_doc.similarity(hopes_doc))

# Print similarity between mother and hey
print(mother_doc.similarity(hey_doc))

0.5779930353164673
0.9465446472167969

> Notice that 'Mother' and 'Hey You' have a similarity score of 0.9 whereas 'Mother' and 'High Hopes' has a score of only 0.6. This is probably because 'Mother' and 'Hey You' were both songs from the same album 'The Wall' and were penned by Roger Waters. On the other hand, 'High Hopes' was a part of the album 'Division Bell' with lyrics by David Gilmour and his wife, Penny Samson.