In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
plt.style.use('dark_background')

In [2]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

23/05/02 19:00:26 WARN Utils: Your hostname, rig resolves to a loopback address: 127.0.1.1; using 192.168.0.102 instead (on interface enp6s0)
23/05/02 19:00:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/02 19:00:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Defining a schema

In [3]:
# Import the pyspark.sql.types library
from pyspark.sql.types import *

# Define a new schema using the StructType method
people_schema = StructType([
  # Define a StructField for each field
  StructField('name', StringType(), False),
  StructField('age', IntegerType(), False),
  StructField('city', StringType(), False)
])

# Using lazy processing

In [4]:
from pyspark.sql import functions as F

In [5]:
# Load the CSV file
aa_dfw_df = spark.read.format('csv').options(Header=True).load('AA_DFW_2017_Departures_Short.csv.gz')

# Add the airport column using the F.lower() method
aa_dfw_df = aa_dfw_df.withColumn('airport', F.lower(aa_dfw_df['Destination Airport']))

# Drop the Destination Airport column
aa_dfw_df = aa_dfw_df.drop(aa_dfw_df['Destination Airport'])

# Show the DataFrame
aa_dfw_df.show()

+-----------------+-------------+-----------------------------+-------+
|Date (MM/DD/YYYY)|Flight Number|Actual elapsed time (Minutes)|airport|
+-----------------+-------------+-----------------------------+-------+
|       01/01/2017|         0005|                          537|    hnl|
|       01/01/2017|         0007|                          498|    ogg|
|       01/01/2017|         0037|                          241|    sfo|
|       01/01/2017|         0043|                          134|    dtw|
|       01/01/2017|         0051|                           88|    stl|
|       01/01/2017|         0060|                          149|    mia|
|       01/01/2017|         0071|                          203|    lax|
|       01/01/2017|         0074|                           76|    mem|
|       01/01/2017|         0081|                          123|    den|
|       01/01/2017|         0089|                          161|    slc|
|       01/01/2017|         0096|                           84|    stl|
|       01/01/2017|         0103|                          216|    sjc|
|       01/01/2017|         0119|                          514|    ogg|
|       01/01/2017|         0123|                          529|    hnl|
|       01/01/2017|         0126|                          171|    lga|
|       01/01/2017|         0132|                          188|    ewr|
|       01/01/2017|         0140|                          231|    sjc|
|       01/01/2017|         0174|                          145|    rdu|
|       01/01/2017|         0176|                          184|    bos|
|       01/01/2017|         0190|                           76|    sat|
+-----------------+-------------+-----------------------------+-------+
only showing top 20 rows

# The Parquet Format
* A columnar data format
* Supported in Spark and other data processing frameworks
* Supports predicate pushdown
* Automatically stores schema information

# Saving a DataFrame in Parquet format

In [6]:
df1 = spark.read.format('csv').options(Header=True).load('AA_DFW_2016_Departures_Short.csv.gz')
df2 = spark.read.format('csv').options(Header=True).load('AA_DFW_2017_Departures_Short.csv.gz')

In [9]:
# View the row count of df1 and df2
print("df1 Count: %d" % df1.count())
print("df2 Count: %d" % df2.count())
# Combine the DataFrames into one
df3 = df1.union(df2).selectExpr('`Date (MM/DD/YYYY)` as date',
                                '`Flight Number` as flight_number',
                                '`Destination Airport` as destination',
                                '`Actual elapsed time (Minutes)` as flight_duration')
# Save the df3 DataFrame in Parquet format
df3.write.parquet('AA_DFW_ALL.parquet', mode='overwrite')
# Read the Parquet file into a new DataFrame and run a count
print("df3 Count: %d" % spark.read.parquet('AA_DFW_ALL.parquet').count())

df1 Count: 140604
df2 Count: 139358
df3 Count: 279962

# SQL and Parquet

In [8]:
# Read the Parquet file into flights_df
flights_df = spark.read.parquet('AA_DFW_ALL.parquet')

# Register the temp table
flights_df.createOrReplaceTempView('flights')

# Run a SQL query of the average flight duration
avg_duration = spark.sql('SELECT avg(flight_duration) from flights').collect()[0]
print('The average flight time is: %d' % avg_duration)

The average flight time is: 151